.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1 {
  text-align: center;
  color: rgb(44, 44, 44);
}

.table {
  box-shadow: 1px 1px 1px rgb(149, 148, 148);
}

td {
  padding: 0 5px;
}

.table,
tr,
th,
td {
  border: 1px solid rgb(93, 93, 93);
  border-collapse: collapse;
  color: rgb(44, 44, 44);
}

th {
  background-color: rgb(218, 187, 247);
}

tr {
  height: 35px;
}

.error-message {
  color: red;
}

.btn {
  border: none;
  box-shadow: 1px 1px 1px rgb(149, 148, 148);
  width: 100px;
  border-radius: 3px;
  height: 25px;
}

.btn-submit {
  background-color: rgb(243, 200, 119);
}

.btn-submit:hover {
  background-color: rgb(208, 137, 4);
}

.move-up-btn:not(:disabled) {
  background-color: rgb(155, 247, 155);
}
.move-up-btn:disabled {
  opacity: 0.5;
}
.move-up-btn:not(:disabled):hover {
  background-color: rgb(3, 180, 3);
}

.move-down-btn:not(:disabled) {
  background-color: rgb(244, 244, 141);
}

.move-down-btn:not(:disabled):hover {
  background-color: rgb(177, 177, 4);
}

.move-down-btn:disabled {
  background-color: rgb(244, 244, 141);
  cursor: none;
  color: white;
  opacity: 0.5;
}

.delete-btn {
  background-color: red;
  color: white;
}

.delete-btn:hover {
  background-color: rgb(126, 2, 2);
  color: white;
}
